"
" IdeaVim specific settings
"

source ~/.vimrc

Plug 'machakann/vim-highlightedyank'
Plug 'dbakker/vim-paragraph-motion'
Plug 'preservim/nerdtree'

:map <leader>t <Action>(ActivateTerminalToolWindow)
:map <leader>n <Action>(ActivateProjectToolWindow)
:map <leader>r <Action>(SelectInProjectView)

set clipboard+=ideaput

