"
" IdeaVim specific settings
"

source ~/.vimrc

Plug 'machakann/vim-highlightedyank'
Plug 'dbakker/vim-paragraph-motion'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'

" Fixes navigation history between files
:nmap <C-o> :action Back<CR>
:nmap <C-i> :action Forward<CR>

:map <leader>t <Action>(ActivateTerminalToolWindow)
:map <leader>n <Action>(ActivateProjectToolWindow)
:map <leader>r <Action>(SelectInProjectView)

set clipboard+=ideaput
